


.main{
    height: 100% !important;
    padding-bottom:8rem ;
}
.container1{
    width: 100%;
    min-height: 100%;
}
.p{
    width: 100%;
    margin: auto;
    margin-top: 9rem;
    padding-top: 10rem;
}

.sticky{
  background-color: #0a0a08 !important;
  opacity: 0.8;
}
.iu,.i,.io{
font-weight: unset 
!important;

}

.i,.io{
  font-family: unset !important;
}

  
  h2 {
    margin: auto;
    font-size: 2.5rem;
    font-weight: 300;
    animation: lights 5s 750ms linear infinite;
  }
  .as {
    font-size: 4.3rem;
    margin: 0;
    
    padding-bottom: 6rem;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family: 'Teko', sans-serif;
    
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
  }

  .as-1 {
    font-size: 4.3rem;
    margin: 0;
    
    padding-bottom: 3rem;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family: 'Teko', sans-serif;
    color: #2d69c0;
    text-transform: uppercase;
    animation: glow1 2s ease-in-out infinite alternate;
    text-align: center;
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 20px #ffa505;
    }
    to {
      text-shadow: 0 0 30px #ffa505, 0 0 10px #ffa505;
    }
  }

  @keyframes glow1 {
    from {
      text-shadow: 0 0 20px #0c2953;
    }
    to {
      text-shadow: 0 0 60px #0f2340, 0 0 10px #184fa0;
    }
  }

  .Events{
    background-image: url(./images/pexels-frank-cone-3214110.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50rem;
    background-position-y: 0 ;
    background-color: #0a0a08;
    
  }

  .menu1{
    margin-right: 5rem;
    margin-left: auto;
  }

  .event-title{
    text-align: center;
    
  }
  .navbar  .logo a span{
    position: relative !important;
    bottom: 2vh;
  }


 .navbar.sticky .logo a span {
    position: relative !important;
    bottom: 1vh !important;
  }

  @media (max-width : 650px) {
    .pogo{height: 10vh !important;}
    .logo{padding-left: 1rem;}
    .as{
      font-size: 9vh 
      !important;
    }
  }

@media (max-width: 768px) {
  .navbar.sticky .logo a span {
    position: unset !important;
    bottom: 0 !important;
  }
  
}

  @media (max-width : 420px) {
    .pogo{height: 10vh !important;}
    /* .navbar .logo a span{
      font-size: 0.7rem;
    } */
    .as{
      font-size: 8vh 
      !important;
    }
   

  }

  
  